<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lee.yorizori_mybatis.user.mapper.UserMapper"> <!-- 인터페이스 이름과 일치 -->
	 <insert id="create" parameterType="User">
            INSERT INTO users(id, name, passwd, email)
            VALUES(#{id}, #{name},#{passwd},#{email})
        </insert>

        <select id="findById"
                resultType="User">
            SELECT id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
            FROM users
            WHERE id = #{id}
        </select>


        <select id="findAll"
                resultType="User">
            SELECT *
            FROM users
            ORDER BY regdate DESC
        </select>

        <select id="findByIdAndPasswd" resultType="User">
            SELECT id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate, passwd
            FROM users
            WHERE id = #{id}  AND passwd = #{passwd}
        </select>
</mapper>	