<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:replace="${title}">Yorizori Cookbook</title>
<!-- Bootstrap icons-->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/">Yorizori Cookbook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"><a class="nav-link active"
                                  aria-current="page" href="/">홈</a></li>
          <li class="nav-item"><a class="nav-link" href="/cookbook/register.do">요리책 등록</a></li>
          <li class="nav-item"><a class="nav-link" href="/cookbook/list.do">요리책 목록</a></li>
        </ul>

        <!--/* 로그인 성공했을시 */-->

          <th:block th:if="${param.get('loginStat')}">
            <div class="col-4">
              [[${param.get('loginid')}]]님 환영합니다.
              <button type="button" class="btn btn-danger"
                      onclick="location.href='/user/login.do'">로그아웃</button>
            </div>
          </th:block>

          <th:block th:if="${param.get('loginStat') == null}">
            <form class="row row-cols-lg-auto g-3 align-items-center"
                  method="post" action="/user/login.do">
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="saveid"
                         name="saveid" value="save" checked> <label
                        class="form-check-label" for="saveid">아이디저장</label>
                </div>
              </div>

              <div class="col-12">
                <input type="text" size="8" maxlength="8" class="form-control"
                       id="id" name="id" placeholder="아이디" th:value="${param.get('saveid')}">
              </div>

              <div class="col-12">
                <input type="password" size="8" maxlength="8"
                       class="form-control" id="passwd" name="passwd"
                       placeholder="비밀번호">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">로그인</button>
              </div>
              <div class="col-12">
                <a href="/user/regist.do" class="btn btn-warning">회원가입</a>
              </div>
            </form>
          </th:block>


        </div>
      </div>
  </nav>

  <!-- Body-->
  <th:block th:replace="${content}"></th:block>
  <!-- Body끝-->

  <!-- Footer-->

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy;
        Yorizori Website 2022</p>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="/js/scripts.js"></script>
</body>
</html>
